.container {
    margin: 0.5rem auto 0;
    padding: 1rem 2rem;
    border-radius: 1.15rem;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
}

.links__container {
    display: flex;
    align-items: center;
}

.links__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.icon {
    font-size: 1.5rem;
    margin-right: 0.375rem;
}

.link {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.linkHighlight {
    color: var(--red);
}
